
.text-heading-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.text-heading-3 {
  font-size: 44px;
  font-weight: 600;
  line-height: 130%;
}

.text-heading-4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
}

.text-heading-5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
}

.text-content-1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 130%;
}
.text-content-2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.text-content-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.text-content-4 {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}