// color-variable
$primary-color: #2B937A;
$secondary-color: #2B937A;
$primary-color-1: #45AF96;
$emphasis-color: #94FFDF;
$emphasis-color-1: #00FFD4;

$neutral-0: #FFF;
$neutral-200: #CDD6D4;
$neutral-300: #B9C5C2;
$neutral-400: #9AA7A4;
$neutral-500: #6B7280;
$neutral-600: #363636;

$gray-1: #EDF2F7;
$gray-2: #131D20;
$gray-3: rgba(255, 255, 255, 0.02);
$gray-4: #262F31;
$gray-5: rgba(255, 255, 255, 0.10);

$green-color: #A2FFBC;
$yellow-color: #FFCB11;
$purple-color: #F8A2FF;
$violet-color: #8684FF;
$blur-color: #53ACFF;
$red-color: #fa7373;
$red-color-2: #F17E7E;
$pink-color: #FFA2A2;
$orange: #FF7324;

$bg-global: #0A1013;



//color layout
$background-color-content: $bg-global;
$color-menu: $neutral-200;
$color-active-menu: $secondary-color;
$background-header: $bg-global;
$background-footer: $primary-color;
$background-sider: $bg-global;
$border-header: $bg-global;


//size-pixel
$width-sider: 80px;
$width-sider-expand: 220px;

$height-header: 100px;
$height-footer: 0px;
$height-input: 48px;
$height-button: 48px;


//color notification
$color-notify-success: #428959;
$color-notify-error: #C73E1D;
$color-notify-warning: #F18F01;



